.navbar {
  background-color: hwb(0 0% 100%);

  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
  font-family: 'Arial', sans-serif;
  position: relative;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.logo-text {
  font-size: 18px;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  align-items: center;
}

.navbar-links li {
  cursor: pointer;
  transition: color 0.3s;
}

.navbar-links li:hover {
  color: #48c9b0;
}

.get-started-btn {
  background-color: #913291;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s;
}

.get-started-btn:hover {
  background-color: #1565c0;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .navbar-links {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #071d2a;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
    gap: 20px;
    z-index: 10;
  }

  .navbar-links.active {
    display: flex;
  }

  .get-started-btn {
    width: 80%;
    margin: 0 auto;
  }
}
